@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

/* HOME PAGE / GLOBAL */
html {
  margin: 0 auto;
  font-size: 16px;
  color: #242526 !important;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  color: #242526 !important;
  overflow-x: hidden;
}

.masthead {
  height: 500px;
}

li {
  list-style: none;
}

.logo {
  width: auto;
  height: 100px;
}

.mastheadGrid h1 {
  display: none;
}

address,
p {
  color: #242526 !important;
}

h1 {
  color: #242526;
  text-shadow: 1px 1px 5px white;
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif !important;
}

h1.offered-tours-h1 {
  color: #c75e28;
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif !important;
}

footer address,
.address p,
footer a,
footer small {
  font-size: 0.6rem !important;
}

h2 {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif !important;
  color: #1f490c;
  font-size: 1.5rem !important;
  text-align: center !important;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

h3 {
  color: #c75e28;
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif !important;
}

h3.contactQuote {
  color: white;
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif !important;
}

h4 {
  color: #1f490c;
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif !important;
}

h4:nth-of-type(1) {
  margin-top: 0;
}

h6 {
  margin-bottom: 0 !important;
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif !important;
}

p {
  font-size: 0.8rem;
}

a {
  color: #242526 !important;
}

a:hover {
  color: #c75e28 !important;
}

q {
  color: white;
  font-style: italic;
  padding: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

cite {
  color: #242526;
  padding: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mastheadGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(4, 25%);
  justify-items: center;
}

.mastheadBtn {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #5e2f62;
  width: 8rem;
  height: 3rem;
  box-shadow: 2px 2px 5px #242526;
}

.mastheadBtn:hover {
  border: 1px solid #242526;
  background-color: white;
}

.mastheadBtn a {
  color: white !important;
}

.mastheadBtn:hover a {
  color: #5e2f62 !important;
}

.welcome {
  margin-top: 3rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.gallerySection {
  margin-top: 3rem;
  background-color: #c75e28;
  padding: 2rem;
  padding-top: 2.4rem !important;
  display: block !important;
}

.infoSection {
  margin-top: 3rem;
}

img.infoImage {
  height: 100px !important;
  width: auto !important;
}

.testimony {
  margin-top: 3rem;
  background-color: #c75e28;
  padding: 1.5rem;
  position: relative;
}

.testimony::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #c75e28;
  clear: both;
}

div.menu-brgt-container ul#menu-brgt.menu {
  display: flex !important;
  padding-top: 2rem !important;
}

div.menu-brgt-container ul#menu-brgt.menu li {
  padding-right: 1rem;
}

.tour-image {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
}

.tour-image img {
  height: 200px;
  width: 200px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.tour-image img:hover {
  filter: brightness(120%);
}

.toursBtn {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  z-index: 3;
  font-size: 0.6rem;
  padding: 0.5rem !important;
  border: 1px solid #242526;
  background-color: rgba(255, 255, 255, 0.7);
  color: #242526;
}

.toursBtn:hover {
  background-color: rgba(94, 47, 98, 0.7);
  color: white;
}

.divider {
  background-color: #1f490c;
  height: 200px;
  width: 4px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.blogPosts {
  margin: 0 auto;
  width: 70%;
}

div.blogPost a {
  font-size: 1rem !important;
  color: #1f490c !important;
}
.blogPost p {
  color: #242526 !important;
  font-size: 0.7rem !important;
}

.thumbnail {
  width: 200px !important;
  height: auto !important;
}

i {
  font-size: 1.2rem !important;
  color: #242526 !important;
}

i:hover {
  animation-name: grow;
  animation-duration: 3s;
}

@keyframes grow {
  from {
    color: #c75e28;
  }
  to {
    font-size: 1.6rem;
    color: #c75e28;
    transform: rotate(360deg);
  }
}

footer div.site-info {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

footer ul#menu-brgt-footer {
  padding-left: 0 !important;
}
/* CPT CSS */

.the-page-content {
  text-align: center;
}

/* button.tours-offered-btn {
  background-color: #c75e28 !important;
  color: white !important;
  border-radius: 5px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  font-size: 1rem !important;
  padding: 1rem;
}

button.tours-offered-btn:hover {
  background-color: white !important;
  border: 1px solid #242526 !important;
  color: #c75e28 !important;
  border-radius: 5px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  font-size: 1rem !important;
  padding: 1rem;
}

button.toursBtn a:hover {
  color: white !important;
} */

.place {
  color: #242526;
}
/* ABOUT PAGE */

.parallax {
  margin-top: 3rem;
  padding-top: 3rem;
}

.welcomeAbout {
  margin-top: 3rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.aboutGallery {
  margin-top: 3rem;
}

.galleryHeader {
  font-size: 1.4rem;
}

/* CONTACT PAGE */
textarea#wpforms-348-field_11 {
  width: 80%;
}

div.contactForm + div h2 {
  text-align: left !important;
}

button.wpforms-submit#wpforms-submit-348 {
  background-color: #c75e28 !important;
  color: white !important;
}

button.wpforms-submit#wpforms-submit-348:hover {
  background-color: white !important;
  border: 1px solid #242526 !important;
  color: #c75e28 !important;
  border-radius: 5px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  font-size: 1rem !important;
}

/* POST CSS */

.wp-post-image {
  width: 300px;
  height: auto;
}
.postDivider {
  background-color: #1f490c;
  height: 2px;
  width: 200px;
  margin-bottom: 1rem;
}

.sidebar-container {
  text-align: right !important;
  font-size: 0.8rem !important;
}

input.search-submit {
  text-align: right !important;
  width: fit-content;
  justify-content: flex-end !important;
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

h2.widget-title {
  font-size: 1rem !important;
  text-align: right !important;
}

.widget.widget_recent_entries ul li a {
  font-size: 0.8rem !important;
}

.widget.widget_recent_comments ul li a {
  font-size: 0.8rem !important;
}

.widget.widget_archive ul li a {
  font-size: 0.8rem !important;
}

.widget.widget_categories ul li a {
  font-size: 0.8rem !important;
}

.widget.widget_meta ul li a {
  font-size: 0.8rem !important;
}

form.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
